section.info{
    width: 1280px;
    height: auto;
    margin: 0px auto;
    min-width:768px;
    overflow: hidden;
}
p.info_title{
    font: bold 40px/58px "Noto+Sans+KR";
    text-align: center;
    margin-top: 100px;
    position: relative;
    top:0;
    left: 0;
}
p.info_title::before{
    content: "";
    width: 30px;
    height: 30px;
    background: #f0ec99cb;
    position: absolute;
    top:0;
    left: 30%;
}
p.info_text{
    width: 100%;
    font: normal 16px/32px "Noto+Sans+KR";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
p.info_text span{
    font-weight: bold;
}
div.info_box{
    width: 100%;
    height: 300px;
    background: #F9F9F9;
    padding: 0 70px;
    box-sizing: border-box;
    position: relative;
    top:0;
    left: 0;
}
p.user_icon{
    font: normal 30px/30px "Noto+Sans+KR";
    position: absolute;
    top: 40px;
}
p.user_text{
    width: 400px;
    height: 86px;
    font: normal 30px/43px "Noto+Sans+KR";
    position: absolute;
    top: 77px;
}
p.user_text span{
    color: #F0EC99;
    font-weight: bold;
}
button.user_btn{
    width: 120px;
    height: 23px;
    text-align: center;
    font: bold 16px/23px "Noto+Sans+KR";
    border:none;
    background: none;
    position: absolute;
    bottom: 64px;
}
ul.info_list{
    width: 520px;
    height: 146px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    float: right;
    margin-top: 77px;
}
ul.info_list li{
    width: 100px;
    height: 146px;
}

ul.info_list li img{
    width: 100%;
    height: 100px;
    padding: 16px;
    object-fit: contain;
    box-sizing: border-box;
    border: solid 1px #D9D9D9;
}
ul.info_list li p{
    text-align: center;
    font: normal 18px/26px "Noto+Sans+KR";
    margin-top: 20px;
}

@media screen and (max-width: 1280px){
    section.info{
        width: 100%;
    }
}
@media screen and (max-width: 980px){
    /* section.info{
        height: 930px;
    }
    ul.info_list{
        width: 460px;
        height: 540px;
        left: 50%;
        margin-left: -245px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    } */
}