section.info{
    width: 100%;
    height: 210px; /*130+80*/
    padding: 0px 16px;
    box-sizing: border-box;
}
ul.info_list{
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
ul.info_list li{
    width: 25%;
    height: 100%;
    position: relative;
    top:0;
    left: 0;
}
div.icon{
    width: 48px;
    height: 48px;
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -24px;
}
div.icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
p.text{
    width: 100%;
    font: normal 14px/19px "Noto Sans KR";
    text-align: center;
    position: absolute;
    top: 82px;
    padding: 0px 3px;
    box-sizing: border-box;
}
div.login{
    width: 100%;
    height: 80px;
    border-top: dashed 2px #EFEFEF;
    position: relative;
    top:0;
    left: 0;
}
div.login p{
    width: 220px;
    height: 46px;
    font: normal 16px/23px "Noto Sans KR";
    position: absolute;
    top:20px;
}
div.login p span{
    font-weight: bold;
}
button.login_btn{
    width: 100px;
    height: 40px;
    background: #F0EC99;
    position: absolute;
    top: 22px;
    right: 0;
    font: normal 14px/23px "Noto Sans KR";
    border: none;
    color: #000;
}