section.visual{
    width: 100%;
    height: 260px;
    position: relative;
    top:0;
    left: 0;
}
div.visual_list{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
div.visual_00{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background:url('/public/images/visual00.jpg') no-repeat center; 
    background-size:cover;
}
div.visual_01{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background:url('/public/images/visual01.jpg') no-repeat center 0px; 
    background-size:cover;
}
div.visual_02{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background:url('/public/images/visual02.jpg') no-repeat center 0px; 
    background-size:cover;
}