
div.newsletter{
    width: 100%;
    height: 150px;
    background: #efefef;
    overflow: hidden;
    padding: 0px 16px;
    box-sizing: border-box;
}
p.title{
    width: 100%;
    font: bold 14px/20px "Noto Sans KR";
    text-align: center;
    margin: 20px 0px 30px 0px;
}
div.email_box{
    width: 100%;
    height: 40px;
}
input.input_box{
    width: 54%;
    height: 40px;
    border: solid 1px #999;
    text-indent: 16px;
    box-sizing: border-box;
    font: normal 14px/40px "Noto Sans KR";
    background: none;
    margin-right: 6%;
}
button.input_button{
    width: 40%;
    height: 40px;
    background: #4A705F;
    border: none;
    color: #fff;
    font: normal 14px/40px "Noto Sans KR";
} 