section.category{
    width: 100%;
    height: 370px;
    overflow: hidden;
    padding: 0px 16px;
    box-sizing: border-box;
}
p.title{
    width: 100%;
    font: bold 18px/26px "Noto Sans KR";
    margin: 35px 0;
}
ul.menu{
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    font: normal 14px/20px "Noto Sans KR";
    color: #bbbbbb;
}
ul.menu li.selected{
    font-weight: bold;
    color: #2E463B;
}
ul.menu li{
    position: relative;
}
ul.product_list{
    width: 100%;
    height: 184px;
}
ul.product_list li{
    width: 100%;
    height: 88px;
    position: relative;
    top:0;
    left: 0;
    margin-bottom: 8px;
    background: or;
}
ul.product_list li :last-child{
    margin-bottom: none
}
div.box_img{
    width: 140px;
    height: 100%;
    background: #fff;
    border-radius: 16px;
    border: solid 1px #E7E9EB;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
}
div.box_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div.box_title{
    font: normal 16px/23px "Noto Sans KR";
    position: absolute;
    left: 160px;
    top: 50%;
    margin-top: -23px;
}
div.box_title span{
    font-size: 12px;
}
div.location{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 1px #D9D9D9;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    margin-top: -18px;
    right: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
div.location img{
    width: 50%;
    height: 100%;
    object-fit: contain;
}
button.all{
    width: 80px;
    height: 20px;
    font: normal 12px/20px "Noto Sans KR";
    background: none;
    text-align: center;
    color: #4A705F;
    border: none;
    position: relative;
    top: 10px;
    left: 260px;
}