
section.banner{
    width: 100%;
    height: 160px;
}
div.info_img{
    width: 100%;
    height: 160px;
    background:url('/public/images/mobile_banner00.jpg') no-repeat center -200px; 
    background-size:cover;
    position: relative;
    top:0;
    left: 0;
}
div.img_text_box{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 16px;
    top:20px;
}
div.img_text_box p{
    font: normal 16px/27px "Noto Sans KR";
    color: white;
}