header.header{
    width: 100%;
    height: 60px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 9;
}
header.header h1{
    width: 46px;
    height: 100%;
    margin: 0px auto;
}
header.header h1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
nav.mobile_menu{
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    line-height: 60px;
    margin-left: 16px;
}
div.mobile_location{
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
    line-height: 60px;
    margin-right: 16px;
}
/* 아코디언 메뉴 */
nav#mobilemenu{
    width:70vw; 
    height:100vh; 
    position:absolute; 
    left:0px; 
    top:0px; 
    background:white; 
    overflow:scroll;
    z-index:2;
}
nav#mobilemenu a{
  display:block; 
  width:100%; 
  height:100%; 
  color:#3c3c3c; 
  text-decoration:none; 
}
h2.mobilemenu_icon{
    width:30px; 
    height:20px; 
    position: absolute; 
    right:20px; 
    top:30px;
    overflow: hidden;  
    cursor: pointer;
}
h2.mobilemenu_icon img{
    width:100%;    
}
div#mobilemenu_inner{
    width:100%; 
    height:100%; 
    position:absolute; 
    right:0px; 
    top:0px; 
}
div#mobilemenu_inner p{
    width:100%; 
    height:180px; 
    background:#4a705f70; 
    font:normal 20px/30px "Noto Sans KR"; 
    color:white; 
    padding-top:90px; 
    padding-left:30px; 
    box-sizing:border-box;
}
span#mobileclose_btn{
    width:20px; 
    height:20px; 
    display:block; 
    position:absolute; 
    left:30px; 
    top:40px; 
    cursor: pointer;
}
ul#mobileloginmenu{
    width:100%; 
    height:50px; 
}
ul#mobileloginmenu li{
    width:50%; 
    height:100%; 
    background:#3c3c3c; 
    font:normal 14px/50px "Noto Sans KR";
    text-align:center; 
    float:left; 
    border-right:solid 1px white; 
    box-sizing:border-box;
    color:white;
}
ul#mobileloginmenu li a{
  display:block; 
  width:100%; 
  height:100%; 
  color:white; 
  text-decoration:none;
}
ul#mobileloginmenu li:last-child{
    border-right:none;
}
ul#mobilemenu_list{
    width:100%; 
    height:275px;
}
ul#mobilemenu_list>li{
    width:100%; 
    height:55px; 
    font:normal 14px/55px "Noto Sans KR";
    border-bottom:solid 1px #E3E3E3; 
    box-sizing:border-box; 
    text-indent:30px; 
    position:relative; 
    left:0px; 
    top:0px; 
    overflow:hidden;
    cursor: pointer;
    transition:0.3s ease-out;
}
span.mobile_icon{
    width:55px; 
    height:55px; 
    text-align:center; 
    text-indent:0px; 
    display:block; 
    position:absolute; 
    right:10px; 
    top:0px; 
    transform:rotate(-90deg);
    -webkit-transition:0.4s ease;
}
ul#mobilemenu_list>li.selected span{
    -webkit-transform:rotate(0deg); 
}
ul.mobilesubmenu_list{
    width:100%; 
    position:absolute; 
    left:0px; 
    top:55px; 
}
ul.mobilesubmenu_list>li{
    width:100%; 
    height:55px; 
    background:#f6f6f6; 
    font:normal 13px/50px "Noto Sans KR";
    border-bottom: solid 1px #E3E3E3; 
    box-sizing: border-box; 
    text-indent: 40px; 
}
ul.mobilesubmenu_list>li:first-child{
    border-top:solid 1px #E3E3E3; 
}
div#mobile_grayLayer{
    width:100%;
    height:100vh;
    background:black;
    opacity:0.8;
    position:fixed;
    left:0px;
    top:0px;
}