div.footer_wrap{
    width: 100%;
    height: 250px;
    background: #222222;
    min-width:768px;
}
footer{
    width: 1280px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    top:0;
    left: 0;
}
ul.footer_menu{
    width: 420px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 43px;
    left: 0px;
    font: bold 14px/23px "Noto+Sans+KR";
}
ul.footer_menu li a{
    color: #fff;
}
p.copyright{
    font: normal 12px/23px "Noto+Sans+KR";
    color: #fff;
    position: absolute;
    top: 80px;
    left: 0px;
}
div.footer_logo{
    width: 186px;
    height: 30px;
    position: absolute;
    top: 180px;
    left: 0px;
    background:url('/public/images/logo_w.png') no-repeat center; 
    background-size:cover;
}
div.linked{
    width: 210px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 180px;
    right: 0px;
}
div.linked div{
    width: 100px;
    height: 100%;
}
div.linked div:nth-child(3){
    width: 30px;
}
div.linked div img{
    width: 100%;
}


@media screen and (max-width: 1280px){
    footer{
        width: 100%
    }
}
@media screen and (max-width: 980px){

}